body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .flex-parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
} */

/* .child-div {
  width: 30%;
  border: 2px solid gold;
} */

/* .display-image {
  width: 100%;
  height: 150px;
} */
body {
  background-color: rgb(215, 213, 213);
}

.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: auto;
  border: 5px solid lightgrey;
  margin: 5em;
  padding: 3em;
}
.container > .image {
  flex: 1 0 0%;
  text-align: left;
  height: 100px;
}
.image > img {
  vertical-align: top; /* here */
  max-width: 300px;
  max-height: 100px;
  padding: 1em;
  overflow: hidden;
}
.text {
  flex: 2 0 0%;
  padding: 1em;
  /* and eventually */

  margin: auto 0;
}

.show-image {
  height: 500px;
}

.show-image {
  height: 500px;
}
